@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.achievement{
    @include flex;
    margin: 30px 35px 0 35px;
    @media (max-width: 800px){
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin: 30px 15px 0 15px;
    }
    &__left{
        flex: 1 1;
        & > *{
            max-width: 100%;
            height: auto;
        }
    }
    &__right{
        flex: 1 1;
        margin: 10px;
        padding: 20px;
        text-align: center;
        h1{
            font-size: 45px;
            font-weight: 500;
        }
        ul > *{
            list-style-type: disc;
            text-align: left;
            line-height: 2;
            font-size: 20px;
        }
    }
}