.project{
    text-align: center;
    margin: 80px 35px 40px 35px;
    flex-direction: column;
    h1{
        font-weight: 500;
        font-size: 45px;
    }
    &__cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__cards > *{
        flex: 1 1;
        margin: 10px;
        min-width: 280px;
    }
    &__buttons{
        margin-top: 30px;
    }
}