.scroll{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    padding: 16px 12px;
    border-radius: 15px;
    color: white;
    display: flex;
    @media (min-width: 1500px){
        bottom: 2em;
        right: 3em;
    }
}