.internship{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 35px 40px 35px;
    flex-direction: column;
    h1{
        text-align: center;
    }
    &__cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__cards > *{
        flex: 1 1;
    }
    h1{
        font-weight: 500;
        font-size: 45px;
    }
}