.header__menu{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: 500;
    margin: 20px;
    p{
        padding: 10px 20px;
        
    }
    

}